<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Продукты и услуги | BASF</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
	<script src = "../script/jquery-migrate-1.4.1.min.js"></script>
</head>
<body>
	<header>
		<img src="../img/BASF-Logo_bw.svg.png" class="logo"/>
		<div class="contacts">
			<div class="position">
				69037, Украина, г. Запорожье, ул. Л. Жаботинского, 12/30
			</div>
			<div class="phone">
				Teл.: +38 061 224-04-47; 224-04-74
			</div>
			<div class="email">
				Эл. почта: info@alcu.com.ua
			</div>
		</div>
		<div class="language">
			<a href="#en"><img src="../img/en.jpg"></a>
			<a href="#ua"><img src="../img/uk.jpg"></a>
			<a href="#ru"><img src="../img/ru.jpg"></a>
			<input type="serch" class="search"/>
		</div>
	</header>
	<section class="slider">
		<h1>НЕЗАБЫВАЕМЫЙ СЛАЙДЕР</h1>
	</section>
	<nav class="menu">
		<ul>
			<li>О КОМПАНИИ</li>
			<li>ПАРТНЕРЫ</li>
			<li>ПРОДУКТЫ И УСЛУГИ</li>
			<li>НОВОСТИ</li>
			<li>ФОТОГАЛЕРЕЯ</li>
			<li>СЕРТИФИКАТЫ</li>
			<li>КОНТАКТЫ</li>
		</ul>
	</nav>
	<main>
		<section class="info">
			<h1 class="title">
				Sale and delivery of concrete and so on ...
			</h1>
			<p class="content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consectetur facilis veritatis quidem eos quia expedita ipsa ad consequatur, magnam necessitatibus ullam eveniet. Molestiae debitis, hic, nulla soluta fugit placeat!
			</p>
			<h1 class="title">
				Sale and delivery of concrete and so on ...
			</h1>
			<p class="content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consectetur facilis veritatis quidem eos quia expedita ipsa ad consequatur, magnam necessitatibus ullam eveniet. Molestiae debitis, hic, nulla soluta fugit placeat!
			</p>
			<h1 class="title">
				Наши преимущества
			</h1>
			<div class="items">
				<div class="item">
					<img src="../img/factory.jpg">
					<div class="description">
						Бетонный завод
						120 куб/час
					</div>
				</div>
				<div class="item">
					<img src="../img/autobetonshake.jpg">
					<div class="description">
						Собственный автопарк
						20 ед. автобетоносмесителей
						15 ед. привлеченых миксеров
					</div>
				</div>
				<div class="item">
					<img src="../img/lab.png">
					<div class="description">
						Лабаратория<br>
						Собственная лабаратория
					</div>
				</div>
			</div>
			<h1 class="title">
				Наши партнеры:
			</h1>
			<div class="partner">
				<a href="#"><img src="../img/alcomet.jpg"></a>
				<a href="#"><img src="../img/er-brakir.jpg"></a>
				<a href="#"><img src="../img/arc.jpg"></a>
				<a href="#"><img src="../img/qietcl.jpg"></a>
			</div>
		</section>
	</main>
	<footer>
		<nav class="floor_menu">
			<ul>
				<li>О КОМПАНИИ</li>
				<li>|</li>
				<li>ПАРТНЕРЫ</li>
				<li>|</li>
				<li>ПРОДУКТЫ И УСЛУГИ</li>
				<li>|</li>
				<li>НОВОСТИ</li>
				<li>|</li>
				<li>ФОТОГАЛЕРЕЯ</li>
				<li>|</li>
				<li>СЕРТИФИКАТЫ</li>
				<li>|</li>
				<li>КОНТАКТЫ</li>
			</ul>
		</nav>
		<div class="company">© 2017 BASF. Все права защищены.</div>
	</footer>
</body>
</html>
