<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Продукты и услуги | BASF</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src = "script/jquery-migrate-1.4.1.min.js"></script>
</head>
<body>
	<header>
		<div class="logo">LOGO</div>
		<div class="contacts">CONTACTS</div>
		<div class="language">ENG UA RUSS</div>
		<div class="search">SEARCH</div>
	</header>
</body>
</html>