body{
	margin:0px;
	padding: 0px;
	background: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 1200px;
	margin: auto;
	padding: 20px;
	background: #f4f4f4;
	border-bottom: 1px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    position: relative;
	.logo{
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
	}
	.contacts{
		display: inline-block;
		padding: 10px;
		box-sizing: border-box;
		vertical-align: top;
		margin-top: 40px;
		margin-left: 60px;
	}
	.language{
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 20px;
		padding: 10px;
		box-sizing: border-box;
		.search{
		    width: 100%;
		    position: absolute;
		    right: 0px;
		    transition: 0.5s all;
		    border-radius: 12px;
		    padding: 5px 10px;
		    box-sizing: border-box;
		    outline: none;
		  	background-color: #f9f9f9;
			&:focus{
				background-color: #fffafa;
				width: 120%;
			}
		}
	}
}
.slider{
	width: 1200px;
	padding: 20px;
	margin: auto;
	height: 300px;
	border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    background: url("../img/Slider.jpg");
    background-repeat: none;
    background-size:cover;
    background-position: center;
	h1{
		text-align: center;
		margin-top:70px;
	}
}

.menu{
	width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	background: #c0392b;
	color: white;
    box-sizing: border-box;
	ul{
		width: 1200px;
		margin: auto;
		margin-top: 0px;
		li{
			list-style: none;
			display: inline-block;
			padding: 20px;
			border-bottom: 5px solid rgba(0,0,0,0);
			transition: 0.5s all;
			&:hover{
			  color: white;
				background: rgba(0,0,0,0.1);
				box-sizing: border-box;
				border-bottom: 5px solid #a02727;
				cursor: pointer;
			}
		}
	}
}

main{
	background: white;
	width: 1200px;
	margin: auto;
	padding:20px;
	border: 1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
	.info{
		width: 800px;
		margin:auto;
		padding: 10px;
		box-sizing: border-box;
		overflow-wrap: break-word;
		.title{
			text-align: center;
		}
		.items{
			display: flex;
			justify-content: space-between;
			align-items: top;
			.item{
				display: inline-block;
				vertical-align: top;
				img{
				    width: 200px;
				    border-radius: 120px;
				    padding: 10px;
				    border: 1px solid rgba(0, 0, 0, 0.1);
				    background: rgba(0,0,0,0.05);
				}
				.description{
					font-size: 14px;
					width: 200px;
					text-align: center;
				}
			}
		}
		.partner{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

footer{
	background-color: #2c3e50;
	color: #FFF;
	margin-top: 20px;
	.floor_menu{
		text-align: center;
		padding: 20px;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		li:nth-child(odd){
			list-style: none;
			color: white;
			cursor: pointer;
			display: inline-block;
			&:hover{
				color:white;
			}
		}
		li:nth-child(even){
			list-style: none;
			display: inline-block;
			color: black;
		}
	}
	.company{
		text-align: center;
		font-weight: bold;
		color: #6db4d6;
		padding: 20px;
	}
}